.dataTable{
    position: absolute;
    background-color: rgb(58, 57, 57);
    top: 10rem;
    right: 2rem;
    border-radius: 10px;
    visibility: hidden;
}

.dataTable tr{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.277);
}

.dataTable td,th{
    color: white;
    padding: .5rem 1rem;
}

.circleWinningCount, .totalMatchCount, .multiplyWinningCount{
    font-size: 2rem;
}

.dataTableVisibility{
    visibility: visible;
}